$color-grey: #f2f5f6;
$color-grey-dark: #959595;

$color-white: #fff;
$color-black: #000;
$color-primary: #f1d069;
$color-secondary: #eab81b;

$animation-template: cubic-bezier(0.68, -0.6, 0.32, 1.6);
