.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  @include respond(phone) {
    font-size: 2rem;
  }
  &__nav {
    display: flex;
    @include respond(phone) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 12rem;
    }
    justify-items: center;
  }

  &__link {
    text-align: center;
    padding: 4rem 2rem 2rem 2rem;
    color: $color-black;
    font-weight: 600;
    cursor: pointer;
  }

  &__oferta {
    display: flex;
    justify-items: center;
  }

  &__oferta-link {
    cursor: pointer;
    text-align: center;
    color: $color-grey-dark;
    padding: 2rem 2rem 4rem 2rem;
  }
}

.footer-overlay {
  position: fixed;
  //   cursor: pointer;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.5);
  backdrop-filter: blur(3px);

  transition: transform 3s;
  z-index: 5;
  overflow-y: scroll;
}

.footer-popup {
  //   cursor: default;
  padding: 7rem 15rem;
  z-index: 10;

  &__text-box {
    background-color: $color-white;
    padding: 5rem;
  }

  &__header {
    margin-bottom: 1.5rem;
  }
  &__text {
    font-size: 1.6rem;
    line-height: 1.55;
    height: 100%;

    span {
      font-weight: 700;
    }
  }
}

.footer-icon {
  cursor: pointer;
  position: fixed;
  top: 2rem;
  right: 4rem;
  font-size: 5rem;
  color: $color-white;
}

// ::-webkit-scrollbar {
//   /* chrome based */
//   width: 0px; /* ширина scrollbar'a */
//   background: transparent; /* опционально */
// }
