.masters {
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  @include respond(tab-port) {
    grid-template-columns: 1fr 1fr;
  }
  @include respond(phone) {
    grid-template-columns: 1fr;
  }
  column-gap: 5rem;
  row-gap: 5rem;
  // grid-template-rows: 1fr 1fr;
  padding-bottom: 8rem;

  &__card {
    @include respond(phone) {
      padding-bottom: 5rem;
    }
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    // grid-template-rows: 4fr 1fr 4fr 1fr;
    // align-content: center;
    // justify-content: center;

    // @include respond(tab-port) {
    //   display: grid;
    //   grid-template-rows: auto;
    // }

    // &--1 {
    //   grid-column: 1 / span 2;

    //   grid-row: 1;
    // }

    // &--2 {
    //   grid-column: 3 / span 2;
    //   grid-row: 1;
    // }

    // &--3 {
    //   grid-column: 5 / span 2;
    //   grid-row: 1;
    // }

    // &--4 {
    //   grid-column: 2 / span 2;
    //   grid-row: 2;
    // }

    // &--5 {
    //   grid-column: 4 / span 2;
    //   grid-row: 2;
    // }
  }

  &__heading {
    // flex: 0 0 5%;
  }

  &__img-box {
    // height: 38rem;
    // width: 38rem;
    // flex: content;
    aspect-ratio: 1;

    overflow: hidden;
    position: relative;
    margin-bottom: 1rem;
    // &::after {
    //   display: block;
    //   content: "";
    //   padding-top: 100%;
    // }
  }

  &__img {
    @include centerItem;
    max-width: 130%;
    max-height: 130%;
  }

  &__card--1 &__img-box &__img {
    transform: translate(-50%, -50%) scale(1.1);
  }
  &__card--2 &__img-box &__img {
    transform: translate(-50%, -50%) scale(0.8);
    @include respond(big-desktop) {
      transform: translate(-50%, -50%) scale(0.95);
    }
    @include respond(huge-desktop) {
      transform: translate(-50%, -50%) scale(1.25);
    }
  }
  &__card--3 &__img-box &__img {
    transform: translate(-50%, -50%) scale(0.8);

    @include respond(huge-desktop) {
      transform: translate(-50%, -50%) scale(0.95);
    }
  }
  &__card--4 &__img-box &__img {
    transform: translate(-50%, -50%) scale(1.2);
  }
  &__card--5 &__img-box &__img {
    transform: translate(-50%, -50%) scale(1);
  }

  &__text {
    height: 20rem;
    font-style: italic;

    // align-content: flex-start;
    @include respond(tab-land) {
      font-size: 1.4rem;
    }

    @include respond(tab-port) {
      font-size: 1.8rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      height: 6rem;
      display: inline-block;
      text-decoration: none;
      color: $color-white;
      background-color: $color-primary;

      font-weight: 700;
      padding: 1.7rem 2rem;
      width: 50%;
      // font-size: 80%;
      font-size: 1.5rem;
      @include respond(desktop) {
        font-size: 1.42rem;
      }
      @include respond(tab-land) {
        width: 70%;
      }

      @include respond(tab-land) {
        display: block;
        margin: 0 auto;
        width: 80%;
        font-size: 1.8rem;
      }
      // @include respond(small-desktop) {
      //   font-size: 1.26rem;
      // }
    }
  }
}
