.section-why {
  text-align: center;
  background-color: $color-grey;
  padding-top: 5rem;
  padding-bottom: 7rem;
}

.section-photos {
  display: flow-root;
  padding: 0;
  margin: 0;
}

.section-instabutton {
  padding-top: 6rem;
  padding-bottom: 9rem;
  text-align: center;
}

.section-masters {
  background-color: $color-grey;
}

.section-prices {
  text-align: center;
}

.section-quotes {
  // text-align: center;
  background-color: $color-grey;
}

.section-contacts {
  height: 95vh;
  background-image: url("../img/__1.webp");
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}
